{{#partial "title"}}
    <h4>Add an animal to the wild.</h4>
{{/partial}}

{{#partial "content"}}
    <body style="background-color: lavenderblush; background-size:cover;">
    <form action="/addAnimal" method="post">
        <div class="form-group">
            <label for="aniName">Name of the animal:</label>
            <input id="aniName" name="aniName" class="form-control" type="text" required>
        </div>
        <button class="btn btn-success" href="/SuccessAnimal" type="submit"> Submit</button>
    </form>
    </body>
{{/partial}}
{{> layout.hbs}}